@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  /* background-color: #f6f7fb; */
  font-family: "Muli", sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  min-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0 !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px !important;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #664de5 !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px !important;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #664de5;
  background-color: #664de5;
  color: #fff;
}

.steps.step-active {
  display: block !important;
}


.step-title {
  margin-bottom: 2px;
  font-weight: bold;
}
.step-subtitle {
  line-height: 1.5;
  color: #bbb;
}

.step-form {
  margin-top: 50px;
}
.form-group {
  text-align: left !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
label {
  display: inline-block;
  margin-bottom: 0.3rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #664de5;
  outline: 0;
  box-shadow: none !important;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-workspace {
  background-color: #664de5 !important;
  color: #fff !important;
  border: 0 !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  font-family: inherit !important;
  padding: 8px 30px !important;
  margin: 5px !important;
  font-size: 14px !important;
}

.btn-workspace:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
/* .step3-card-icon {
  height: 25px;
  width: 25px;
} */
.step-card.step-card-active {
  border: 1px solid #664de5 !important;
}
